*{
    margin:0px;
    padding:0px;
    font-family: poppins;
}
.parent{
    display:flex;
    justify-content:center;
    padding:;
    align-items: center;
    gap:60px;
    /* width: 1920px;
    height: 850px; */
    background-color: rgba(229, 84, 115, 0.10);
}
.tittle{
    padding:70px;
}
    
.img-no1{
    /* width: 635px;
    height: 800px;
     */
     margin-bottom: 0px;
}
.btn{
    border-radius:solid;
    color: #FFF;
font-size: 23px;
font-style: normal;
font-weight: 700;
border-radius: 8px;
background: #ea5172;
padding: 20px 43px;
gap:10px;

}
p{
    font-size:larger;
}
span{
    color:rgb(197, 54, 54);
}
.instagram-heading{
    text-align: center;
    padding:50px;
}
.nav-images{
    display:flex;
    justify-content: center;
    gap:25px;
    margin-top: 0px;
}
.second-part{
    text-align: center;
    padding:30px;
}
.figuer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:40px;
}
.figure-pic1{
width: 310px;
height: 430px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
}
.figure-pic2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding-top:50px;
padding-bottom: 50px;
padding-left: 20px;
}
.figure-pic3{
    width: 310px;
height: 430px;
border-radius: 300px 300px 0px 0px;
background: rgba(27, 1, 14, 0.15);
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
}
figcaption{
    text-align: center;
    padding:10px;
    font-size: medium;
}
a{
    color: black;
}

