*{
    margin:0px;
    padding:0px;
    font-family: poppins;
}
.item{
    display:flex;
    justify-content: space-around;
    background-color:#ec7b94;
}
 ul{
    display:flex;
    list-style: none;
}
li{
    padding:15px;
    font-size: larger;
}
.main-name{
    color:rgb(150, 208, 208);
}
.logo-name{
    color:aliceblue;
    padding:20px;
}
.parent{
    display:flex;
    justify-content:center;
    padding:;
    align-items: center;
    gap:60px;
    /* width: 1920px;
    height: 850px; */
    background-color: rgba(229, 84, 115, 0.10);
}
.tittle{
    padding:70px;
}
    
.img-no1{
    /* width: 635px;
    height: 800px;
     */
     margin-bottom: 0px;
}
.btn{
    
    color: #FFF;
font-size: 23px;
font-style: normal;
font-weight: 700;
border-radius: 8px;
background: #ea5172;
padding: 20px 30px;
gap:10px;
border-style:none;
cursor:pointer;

}
p{
    font-size:larger;
}
span{
    color:rgb(197, 54, 54);
}
.instagram-heading{
    text-align: center;
    padding:50px;
}
.nav-images{
    display:flex;
    justify-content: center;
    gap:25px;
    margin-top: 0px;
}
.second-part{
    text-align: center;
    padding:30px;
}
.figuer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:40px;
}
.figure-pic1{
width: 310px;
height: 430px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
}
.figure-pic2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding-top:50px;
padding-bottom: 50px;
padding-left: 20px;
}
.figure-pic3{
    width: 310px;
height: 430px;
border-radius: 300px 300px 0px 0px;
background: rgba(27, 1, 14, 0.15);
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
}
figcaption{
    text-align: center;
    padding:10px;
    font-size: medium;
}
a{
    color: black;
}
.service{
    display:flex;
    justify-content: center;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
align-items: center;
padding:50px;
width:60%;
margin:auto;
margin-top: 50px;
margin-bottom:90px;
}
.figca{
    padding-right: 80px;
}
.ser1{
    gap:30px;
    padding-left: 45px;
}
.ser2{
    gap:30px;
    padding-left: 80px;
}
.ser3{
    gap:30px;
    padding-left: 40px;
}
.deal{
    display:flex;
    border-radius: 8px;
    background: rgba(237, 74, 110, 0.05);
    justify-content: center;
    align-items: center;
    gap:150px;
     
}
.deal-tittle{
    padding-left:40px;
}
.deal-img{
    padding-left: 20px;
}
.btn2{
    display: inline-flex;
padding: 20px 43px;
gap: 10px;
border-radius: 8px;
background: #E55473;
border-style: none;
cursor: grab;
font-size: medium;
}
.second-btn{
    display:flex;
    justify-content: center;
    padding-right:230px;
    padding-top: 30px;
    

}
.o-f1{
    color:chartreuse;

}
.o-f2{
    color:brown;

}
.o-f3{
    color:chocolate;
}
.btn2:hover{
    color:blue;
    background-color: cadetblue;
}
.form{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    gap:30px;
}
.form-tittle{
    text-align: center;
    padding-top:180px;
}
.form-back{
    background-image: url("../Flower Asset/Rectangle\ 9.png");
    width: 1440px;
height: 449px;
margin:120px;
margin-left:220px;

}
input{
    
width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
text-align: center;
}
.l-btn{
    width: 150px;
height: 64px;
border-radius: 8px;
background: #E55473;
border-style: none;
cursor: move;
}
.footer-part{
    text-align: center;
    background-color: black;
    width:100%;
    margin:auto;
    height: 350px;
    padding-top:150px;
}
.footer-description{
    color:#FFF;
}
.footer-finishing{
    color:blanchedalmond;
}
.footer-tittle{
    color:azure;
}
.name{
    color:#ea5172;
}
.contact{
    background-image: url("../Flower Asset/pexels-photo-414660.webp");
    /* background-position: center; */
    width:59%;
    margin:auto;
    height: 400px;
    margin-bottom: 120px;
    background-repeat: no-repeat;
    border-style: groove;

}
.us{
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
}
.branch{
    padding:50px;
    /* padding-left:150px; */
    font-size: 30px;
    text-align: center;
    color:rgb(31, 22, 22)
}
.branch-discription{
    display:flex;
    justify-content: space-around;
    font-size: 20px;
}
.call{
    text-align:center;
    padding-top: 30px;
    font-size: 27px;
    color: #3b3a3a;
}